* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Share Tech Mono", monospace;
  font-size: 20px;
  color: #f8f8f8;
}

body {
  background-image: url(../imgs/background-main.svg);
  background-size: cover;
  padding: 1%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr 1fr;
  grid-template-columns: 1fr 3fr 1fr;
  -ms-grid-rows: 75px 600px auto 75px;
  grid-template-rows: 75px 600px auto 75px;
      grid-template-areas: "header header header" "banner banner banner" ". main ." "footer footer footer";
}
body header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 1px solid #004d00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f8f8f8;
  padding: 1%;
}
body header img {
  max-height: 80%;
}
body header .menu-mobile {
  display: none;
}
body header div {
  width: 30%;
}
body header div ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
body header div ul li {
  list-style: none;
  margin: 0 5%;
}
body header div ul li a {
  color: #f8f8f8;
  text-decoration: none;
  margin: 1%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
body header div ul li a:hover {
  color: #00FF00;
}
@media only screen and (max-width: 600px) {
  body header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 4%;
  }
  body header img {
    max-height: 100%;
  }
  body header div {
    width: auto;
  }
  body header div ul {
    display: none;
  }
  body header .menu-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
body .banner-inicio {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: banner;
}
body .banner-inicio img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 1px 1px 5px 1px #004d00;
          box-shadow: 1px 1px 5px 1px #004d00;
}
body .btn-banner {
  background-color: #0E2A47;
  position: absolute;
  border: 1px solid #00FF00;
  color: #00FF00;
  top: 78%;
  left: 35%;
  width: 30%;
  height: 50px;
  font-size: 28px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 5px 1px #004d00;
          box-shadow: 1px 1px 5px 1px #004d00;
}
body .btn-banner:hover {
  background-color: #00FF00;
  color: #f8f8f8;
  font-weight: bold;
}
@media only screen and (max-width: 600px) {
  body .btn-banner {
    top: 87%;
    left: 15%;
    width: 70%;
  }
}
body main {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: main;
}
body main section .titles {
  font-size: 45px;
  font-weight: bold;
  margin: 8% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body main section .content {
  text-align: center;
}
body main section .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3% 0;
}
body main section .cards div {
  width: 100%;
  height: auto;
  margin: 1%;
  padding: 1%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 1px solid #004d00;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body main section .cards div img {
  width: 30%;
  margin: 0 0 6% 0;
}
body main section .cards div:hover {
  border: 1px solid #00FF00;
  -webkit-transform: scale(1.015);
          transform: scale(1.015);
}
@media only screen and (max-width: 600px) {
  body main section .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media only screen and (max-width: 600px) {
  body main section {
    margin: 16% 0;
  }
}
body footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
  text-align: center;
  padding: 1%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 1px solid #004d00;
}
@media only screen and (max-width: 600px) {
  body {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 75px 600px auto 75px;
    grid-template-rows: 75px 600px auto 75px;
        grid-template-areas: "header" "banner" "main" "footer";
  }
  body header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  body .banner-inicio {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  body main {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  body footer {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
}