$primary-color: #00FF00;
$secondary-color : #0E2A47;
$white: #f8f8f8;
$neutral-color: darken($primary-color, 35%);

$gutter: 1%;

$font-1: 16px;
$font-2: 20px;
$font-3: 24px;
$font-4: 28px;

$font-main: 'Share Tech Mono', monospace;

$shadow: 1px 1px 5px 1px $neutral-color;
