@import "variables.scss";
@import "mixins.scss";
@import "animations.scss";
html{
    &::-webkit-scrollbar{
        width: 10px;
        background-color: $secondary-color;
    }
    &::-webkit-scrollbar-thumb{
        border-radius: 50px;
        background-color: $primary-color;
    }
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-main;
    font-size: $font-2;
    color: $white;
}
body{
    @include background-main;
    scroll-behavior: smooth;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows:  600px auto 75px;
    grid-template-areas: 
    "banner banner banner"
    ". main ."
    "footer footer footer";
        header{
            background-color: $secondary-color-blur;
            backdrop-filter: blur(10px);
            position: fixed;
            top: 0;
            left: 0;
            z-index: 2;
            width: 100%;
            height: 80px;
            border-bottom: 1px solid $primary-color;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: $white;
            padding: $gutter;
            img{
                cursor: pointer;
                height: 100%;
            }
            .menu-mobile{
                display: none;
            }
            div{
                width: 80%;
                ul{
                    display: flex;
                    li{
                        list-style: none;
                        margin: 0 5%;
                        a{
                            color: $white;
                            text-decoration: none;
                            margin: $gutter;
                            transition: .5s;
                            &:hover{
                                color: $primary-color;
                            }
                        }
                    }
                }
            }
            @media only screen and (max-width: $telaMobile) {
                justify-content: space-between;
                height: 100px;
                padding: $gutter+3;
                img{
                    max-height: 80%;
                }
                div{
                    width: auto;
                    ul{
                        display: none;
                    }
                }
                .menu-mobile{
                    display: flex;
                }   
            }
            .menu-mobile-options{
                display:none;
                @media only screen and (max-width: $telaMobile){
                    &.ativo{
                        background-color: $secondary-color-blur;
                        backdrop-filter: blur(10px);
                        border-bottom: 1px solid $primary-color;
                        display: flex;
                        position: absolute;
                        z-index: 2;
                        bottom: -97%;
                        left: 0;
                        width: 100%;
                        animation: fadeIn .1s;
                    }
                    ul{
                        display: flex;
                        justify-content: space-around;
                        flex-wrap: wrap;
                        flex-shrink: 2;
                        width: 100%;
                        li{
                            margin: $gutter+2;
                        }
                    }
                    
                }
            }
        }
        .box-welcome{
            position: absolute;
            top: 35%;
            left: 0%;
            width: 100%;
            height: auto;
            padding:$gutter;
            background-color: $secondary-color-blur;
            text-align: center;
            img{
                height: 100px;
            }
            h1{
                font-size: $font-6;
            }
            @media only screen and (max-width: $telaMobile) {
                width: 80%;
                left: 10%;
            }
        }
        .banner-inicio{
            grid-area: banner;
            img{
                object-fit: cover;
                width: 100%;
                height: 100%;
                box-shadow: $shadow;
            }
        }
        .btn-banner{
            background-color: $secondary-color;
            position: absolute;
            border: 1px solid $primary-color;
            color: $primary-color;
            top: 78%;
            left: 35%;
            width: 30%;
            height: 50px;
            font-size: $font-4;
            transition: .5s;
            cursor: pointer;
            box-shadow: $shadow;
            &:hover{
                background-color: $primary-color;
                color: $white;
                font-weight: bold;
            }
            @media only screen and (max-width: $telaMobile){
                top: 87%;
                left: 15%;
                width: 70%;
            }
        }
        .btn-subir-ao-topo{
            display: none;
            &.ativo{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50px;
                height: 50px;
                background-color: $secondary-color;
                border: 1px solid $primary-color;
                box-shadow: $shadow;
                border-radius: 50%;
                cursor: pointer;
                position: fixed;
                top: 85%;
                right: 10%;
                z-index: 1;
                transition: .5s;
                animation: fadeIn .5s;
                &:hover{
                    background-color: $primary-color;
                }
            }
        }
        main{
            grid-area: main;
            section{
                .titles{
                @include font-title;
                margin: $gutter+7 0;
                display:flex;
                justify-content: center;
                }
                .content{
                    text-align: center;
                }
                .cards{
                    display: flex;
                    justify-content: space-between;
                    padding: $gutter+2 0;
                    div{
                        width: 100%;
                        height: auto;
                        margin: $gutter;
                        padding: $gutter;
                        backdrop-filter: blur(10px);
                        border: 1px solid $neutral-color;
                        transition: .5s;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        img{
                            width: 30%;
                            margin: 0 0 $gutter+5 0;
                        }
                        &:hover{
                            border: 1px solid $primary-color;
                            transform: scale(1.015);
                        }
                    }
                    @media only screen and (max-width: $telaMobile){
                        flex-direction: column;
                    }
                } 
                @media only screen and (max-width: $telaMobile){
                    margin: $gutter+15 0;
                }
            }
            .section-o-que-fazemos{
                padding: $gutter;
                display: flex;
                flex-direction: column;
                .box{
                    text-align: justify;
                    display: flex;
                    justify-content: space-between;
                    gap: $gutter;
                    padding: $gutter;
                    backdrop-filter: blur(10px);
                    img{
                        object-fit: cover;
                        width: 40%;
                        height: 500px;
                    }
                    button{
                        margin: $gutter+3 0;
                        background-color: $secondary-color;
                        border: 1px solid $primary-color;
                        color: $primary-color;
                        width: 100%;
                        height: 35px;
                        transition: .5s;
                        cursor: pointer;
                        &:hover{
                            background-color: $primary-color;
                            color: $white;
                        }
                    }
                    @media only screen and (max-width: $telaMobile){
                        flex-direction: column;
                        text-align: center;
                        gap: $gutter+15 0;
                        img{
                            width: 100%;
                            height: 300px;
                        }
                        .paragraphs{
                            display: flex;
                            flex-direction: column;
                            margin: $gutter+5 0;
                        }
                    }
                }
            }
        }
        footer{
            grid-area: footer;
            text-align: center;
            padding: $gutter;
            backdrop-filter: blur(10px);
            border: 1px solid $neutral-color;
        }
    @media only screen and (max-width: $telaMobile){
    grid-template-columns: 1fr;
    grid-template-rows: 75px 600px auto 75px;
    grid-template-areas:
    "header"
    "banner"
    "main"
    "footer";
    }
}