@import "variables.scss";
@import "mixins.scss";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-main;
    font-size: $font-2;
}
body{
    @include background-main;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 75px 500px auto 75px;
    grid-template-areas: 
    "header header header"
    "banner banner banner"
    ". main ."
    "footer footer footer";
        header{
            grid-area: header;
            backdrop-filter: blur(10px);
            border: 1px solid $neutral-color;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: $white;
            padding: $gutter;
            img{
                max-height: 80%;
            }
            .menu-mobile{
                display: none;
            }
            div{
                width: 30%;
                ul{
                    display: flex;
                    flex-wrap: wrap;
                    li{
                        list-style: none;
                        margin: 0 5%;
                        a{
                            color: $white;
                            text-decoration: none;
                            margin: $gutter;
                            transition: .5s;
                            &:hover{
                                color: $primary-color;
                            }
                        }
                    }
                }
            
            }
            @media only screen and (max-width: 600px) {
                justify-content: space-between;
                padding: $gutter+3;
                img{
                    max-height: 100%;
                }
                div{
                    width: auto;
                    ul{
                        display: none;
                    }
                }
                .menu-mobile{
                    display: flex;
                }   
        }
        }
        .banner-inicio{
            grid-area: banner;
            img{
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
        .btn-banner{
            background-color: $secondary-color;
            position: absolute;
            border: 1px solid $primary-color;
            color: $primary-color;
            top: 78%;
            left: 35%;
            width: 30%;
            height: 50px;
            font-size: $font-4;
            transition: .5s;
            cursor: pointer;
            box-shadow: 1px 1px 5px 1px $neutral-color;
            &:hover{
                background-color: $primary-color;
                color: $white;
            }
        }
        main{
            grid-area: main;
        }
        footer{
            grid-area: footer;
        }
    @media only screen and (max-width: 600px) {
    grid-template-columns: 1fr;
    grid-template-rows: 75px 200px auto 75px;
    grid-template-areas:
    "header"
    "banner"
    "main"
    "footer";
    }
}

