$primary-color: #00FF00;
$secondary-color : #0E2A47;
$secondary-color-blur: #0e2947ee;
// $secondary-color-blur: #0e2947c4;
$white: #f8f8f8;
$neutral-color: darken($primary-color, 35%);

$gutter: 1%;

$font-1: 16px;
$font-2: 20px;
$font-3: 24px;
$font-4: 28px;
$font-5: 32px;
$font-6: 40px;

// $font-main: 'Share Tech Mono', monospace;
$font-main: Calibri;

$shadow: 1px 1px 5px 1px $neutral-color;

$telaMobile: 600px;